
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/styles/OderF-style.css" />
      <link rel="stylesheet" type="text/css" href="~/styles/content-style.css">
<link rel="stylesheet" type="text/css" href="~/styles/Reviews.css" />


<div id="content">
        <h3>Форма оформления покупки</h3>
        <form method="post"  name="customerForm" onsubmit="return validate(this)">
            <table id="zakaz">
                <tr>
                    <td><p>Введите свое имя</p></td>
                    <td><input type="text" name="FirstName"  id="InputFirstName"/> </td>
                    <td class ="Error" id="FirstNameErr"></td>
                </tr>
                <tr>
                    <td><p> и фамилию </p></td>
                    <td> <input type="text" name="LastName"  id="InputLastName" /></td>
                    <td class ="Error" id="LastNameErr"></td>
                </tr>
                <tr>
                    <td><p> Город</p></td>
                    <td> <input type="text" name="City" id="InputCity"/></td>
                    </tr>
                <tr>
                    <td><p>Адрес</p></td>
                    <td>
                        <input type="text" name="Address" id="InputAddress"/>
                    </td>
                </tr>
                <tr>
                    <td><p>Email</p></td>
                    <td><input type="text" name="Email" id="InputEmail"/></td>
                    <td class="Error" id="EmailErr"></td>
                </tr>
                <tr>
                    <td><p>Ваш телефон</p></td>
                    <td><input type="text" name="Phone" id="InputPhone"/></td>
                    <td class="Error" id="PhoneErr"></td>
                    </tr>
 <tr><td><button class="reviewButton" type="submit" onclick="locale()" >Отправить</button> </td><td></td></tr>
            </table>
        </form>
</div>
<script type="text/javascript" src="~/Scripts/validationScript.js"></script>
<script>

    $( document ).ready(function() {


        document.getElementById("InputFirstName").value = localStorage.getItem("FirstName");
        document.getElementById("InputLastName").value = localStorage.getItem("LastName");
        document.getElementById("InputCity").value = localStorage.getItem("City");
        document.getElementById("InputAddress").value = localStorage.getItem("Address");
        document.getElementById("InputPhone").value = localStorage.getItem("Phone");
        document.getElementById("InputEmail").value = localStorage.getItem("Email");
 

    })


    function locale() {
        console.log("SOMEFUNC WORKS");

        localStorage.setItem("FirstName", document.getElementById("InputFirstName").value);
        localStorage.setItem("LastName", document.getElementById("InputLastName").value);
        localStorage.setItem("City", document.getElementById("InputCity").value);
        localStorage.setItem("Address", document.getElementById("InputAddress").value);
        localStorage.setItem("Email", document.getElementById("InputEmail").value);
        localStorage.setItem("Phone", document.getElementById("InputPhone").value);


        console.log("Данные записаны в LocalStorage");

    }

</script>