       body {
   background:url(/images/main_background3.jpg);
   background-size:auto;
   background-position-x: 0%;
  background-repeat:no-repeat;
  background-size:contain;
     margin: 0; 
     padding:0;  /* Отступы на странице */           
     background-size: cover;
     background-repeat: no-repeat;
     width:100%; 
}

header { 
    margin:0;
    padding: 0 0 15px 0; /* Поля вокруг текста */
       color: #fc6;
       font: Helvetica;
       text-transform: capitalize;
       font-size: 20px;
   }

header h1{
    padding-top:5px;
    margin-top:0;
    margin-left:3%;
    margin-bottom:0;
    padding-bottom:0;
}

    header h5 {
        font-family:'Berlin Sans FB';
        font-weight:800;
    margin:0;
    margin-left:5%;
    padding-top:0;
    margin-bottom:40px;
    margin-left:3%;
    color:rgb(255, 255, 25);
    }

#header_symbol {
    float: left;
    height: 45px;
    width: 45px;
}


FOOTER{ /* Нижний блок */
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
  
    margin:0;
    padding:0; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: left; /* Отменяем действие float */
    font-size: 20px;
    width: 100%;
   }

    #footerInfo {
        float:left;
    padding:3% 3% 0 3%; 
    }
FOOTER a {
    color: white;
    text-decoration: none;
    font-weight:800;
}


.error {
color:white;
font-weight: 700;
font-size:14px;
}

    .error input {
    border: red;
    }


    #bgCanvas {
       position:relative;
  width:60%;
  height: 300px;
 z-index:3;
  bottom: 0px;
  left:0px
}

    #canvasik{
        clear:left;
        float:left;
        position:relative;
        bottom:0px;
        left:0px;
    }